* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
a {
  color: white;
}
#navbar.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px;
  padding: 0px 20px;
  transition: padding 0.7s ease-in;
  background-color: green;
}
nav {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(104, 106, 111);
  box-shadow: 10px 10px 50px rgb(red, green, blue, 0.5);
}
nav .logo {
  width: 20%;
  overflow: hidden;
}
.toggle {
  display: none;
  color: white;
  font-size: 20px;
}
.logo img {
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.7s ease-out;
}
.logo img:hover {
  transform: scale(1.3);
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
nav .navbar ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
nav .navbar ul li {
  padding: 17px;
  transition: 0.3s ease-in;
}
nav .navbar ul li:hover {
  background-color: rgb(78, 144, 230, 0.5);
}

ul li .Sub_navbar {
  display: none;
  position: absolute;
  top: 53px;
  /* left: 570px; */
}

.navbar ul li:hover .Sub_navbar {
  display: block;
  background-color: rgb(19, 121, 230);
  width: 150px;
}

.container {
  width: 100%;
}
.img_section {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  color: white;
}

.img_section img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.text_section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}
.text_section h1 {
  width: 100%;
  align-items: center;
  text-align: center;
}
.btn {
  text-align: center;
  margin-top: 30px;
}
.text_section button {
  padding: 15px 15px;
  text-align: center;
  margin: auto;
  color: white;
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.text_section button:nth-child(1) {
  border: 1px solid white;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 40px;
}
.text_section button:nth-child(1):hover {
  opacity: 1;
  box-shadow: rgba(218, 10, 10, 0.25) 0px 14px 28px,
    rgba(251, 4, 4, 0.92) 0px 10px 10px;
}
.text_section button:nth-child(2) {
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
.text_section button:nth-child(2):hover {
  opacity: 0.8;
  box-shadow: rgba(218, 10, 10, 0.25) 0px 14px 28px,
    rgba(237, 225, 225, 0.92) 0px 10px 10px;
}
#about {
  margin: 50px 0px;
}
.about {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
}
.about_text_section {
  transition: 0.5s ease-out;
}

.about_text_section h1,
p,
button {
  padding: 10px 0px;
}
.about_btn {
  text-align: center;
  margin-top: 20px;
}
.about_btn button {
  text-align: center;
  padding: 10px 15px;
  border: none;
  transition: 0.5s ease-in-out;
}
.about_btn button:hover {
  background-color: orange;
  cursor: pointer;
}

.about_img_section img {
  width: 25vw;
  /* float: right; */
  transition: 0.5s ease-out;
}
.about_img_section img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#our_gallery {
  margin: 50px auto;
  text-align: center;
  width: 70%;
}
#our_gallery h1 {
  padding: 20px 0px;
  color: red;
  font-size: 3rem;
  font-weight: 600;
}
#our_gallery p {
  padding: 50px 0px;
  font-size: 20px;
}
.gallery_section {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  overflow: hidden;
}
.gallery_section img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.gallery_section img:hover {
  box-shadow: rgb(108, 160, 215) 0px 20px 30px -10px;
  transform: scale(1.02);
}

#home_decor {
  margin: 50px auto;
  width: 70%;
}
.home_details {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}
.home_details img {
  width: 90%;
}
.features_text p:nth-child(1) {
  color: red;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.h3 {
  font-size: 55px;
  font-weight: 800;
  color: black;
  padding: 20px 0px;
}
.features_text p:nth-child(3) {
  color: red;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid gray;
}

.span_text {
  font-size: 20px;
  padding: 20px 0px;
  word-spacing: 10px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
  padding: 10px 40px;
  margin: auto;
  border-radius: 10px;
}

.card_details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
}
.card_details img {
  width: 50%;
}
.card_details p:nth-child(1) {
  font-size: 30px;
  font-weight: 600;
}
.card_details p:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  color: gray;
  padding-bottom: 30px;
}

footer{
  background-color: black;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer ul{
  line-height: 25px;
  border-right: 2px solid white;
  padding-right: 50px;
  margin: 30px 0px;
}

@media screen and (min-width: 200px) and (max-width: 420px) {
  .toggle {
    display: block;
    cursor: pointer;
    font-size: 30px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  nav .navbar {
    display: none;
  }
  .about {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .about_img_section img {
    width: 50vw;
  }
  #our_gallery {
    width: 90%;
  }
  .gallery_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .home_details {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  #home_decor {
    margin: 50px auto;
    width: 90%;
  }
  .home_details img {
    width: 100%;
    text-align: center;
  }
  .h3 {
    font-size: 20px;
    font-weight: 800;
    color: black;
    padding: 10px 0px;
  }
  .card_details p:nth-child(1) {
    font-size: 10px;
    font-weight: 600;
  }
  .card_details p:nth-child(2) {
    font-size: 15px;
    font-weight: 600;
    color: gray;
    /* padding-bottom: 30px; */
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 85, 240);
    box-shadow: 10px 10px 50px rgb(red, green, blue, 0.5);
  }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  nav .navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .about {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .about_img_section img {
    width: 50vw;
  }
  .gallery_section {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
  #our_gallery {
    width: 90%;
  }
  #home_decor {
    margin: 50px auto;
    width: 90%;
  }
  .home_details {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .home_details img {
    width: 90%;
  }
  .h3 {
    font-size: 20px;
    font-weight: 800;
    color: black;
    padding: 10px 0px;
  }
  .card_details p:nth-child(1) {
    font-size: 10px;
    font-weight: 600;
  }
  .card_details p:nth-child(2) {
    font-size: 15px;
    font-weight: 600;
    color: gray;
  }
}
